@import "../../styles/fonts.scss";

.calculator-gain {
  display: flex;
  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: $primaryFont;
      text-transform: uppercase;
      .calculator__label-text {
        font-size: 18px;
        &--active {
          font-size: 18px;
        }
      }
    }
  }
  &__result {
    width: 50%;
    height: 100vh;
    background-color: wheat;
  }
}
