@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Noto+Sans&family=PT+Sans&family=Work+Sans&display=swap");

$primaryFont: "Bebas Neue", sans-serif;
$articleFont: "Noto Sans", sans-serif;
$titleFontSize: 34px;
