@import '../../styles/main.scss';

.targets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  &__item {
    width: 30%;
    height: 98px;
    display: flex;
    background-color: $secondaryColor;
    text-decoration: none;
    border-radius: 25px;
    &-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      text-decoration: none;
      .targets__item-image {
        border-radius: 25px;
        width: 25%;
        height: 100%;
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        background-image: url('../../assets/targetsImages/gain.png');
        &--equal {
          border-radius: 25px;
          width: 25%;
          background-position: center;
          background-size: 80%;

          background-repeat: no-repeat;
          background-image: url('../../assets/targetsImages/balance.png');
        }
        &--plus {
          border-radius: 25px;
          width: 105px;
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat;
          background-image: url('../../assets/targetsImages/gain.png');
        }

        &--minus {
          border-radius: 25px;
          width: 25%;
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat;
          background-image: url('../../assets/targetsImages/loss.png');
        }
      }

      .targets__item-name {
        width: 80%;
        text-align: center;
        margin: auto 0;
        color: black;
        font-size: 34px;
        font-family: $primaryFont;
        text-transform: uppercase;

        font-weight: 800;
        color: white;
        letter-spacing: 1px;
      }
    }
  }
}

@media (max-width: 375px) {
}
@media (max-width: 575px) {
}
@media (max-width: 767px) {
  .targets {
    padding: 0px;
    background-color: $thirdColor;
    justify-content: space-around;
    &__item {
      background-color: $thirdColor;
      width: 25%;
      &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        .targets__item-image {
          border-radius: 25px;
          width: 25%;
          height: 100%;
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat;
          background-image: url('../../assets/targetsImages/gain.png');
          &--equal {
            border-radius: 25px;
            width: 25%;
            background-position: center;
            background-size: 80%;

            background-repeat: no-repeat;
            background-image: url('../../assets/targetsImages/balance.png');
          }
          &--plus {
            border-radius: 25px;
            width: 25%;
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            background-image: url('../../assets/targetsImages/gain.png');
          }

          &--minus {
            border-radius: 25px;
            width: 25%;
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            background-image: url('../../assets/targetsImages/loss.png');
          }
        }

        .targets__item-name {
          font-size: calc(20px * 0.8);
          font-weight: 500;
          color: white;
          letter-spacing: 0.6px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1399px) {
}
