@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Noto+Sans&family=PT+Sans&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Ysabeau+Office:ital,wght@1,300&display=swap');

$font2: 'Ysabeau Office', sans-serif;
$font1: 'PT Serif', serif;
$primaryFont: 'Bebas Neue', sans-serif;
$articleFont: 'Noto Sans', sans-serif;
$AppNameFont: 'Dancing Script', cursive;
$titleFontSize: 34px;
$font3: 'Lato', sans-serif;
